<nav class="navbar  navbar-expand-sm custom-navbar" style="background-color: #383838;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="games" routerLinkActive="active" class="nav-link">Games list</a>
        </li>
        <li class="nav-item">
            <a routerLink="game-favorites" routerLinkActive="active" class="nav-link">Favourites</a>
        </li>
    </ul>
</nav>

<h1 class="text-center custom-header" >{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class ="container">
        <span>Here you can find the best leisure game for you and your frinds</span>
    </div>
</footer>