<h2 class="custom-header"> Games List </h2>
<table class="table table-striped custom-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Fame</th>
            <th>Short description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let game of games">
            <td>{{game.name}}</td>
            <td>{{game.fame}}</td>
            <td>{{game.shortDesc}}</td>
            <td>
                <button (click) = "gameDetails(game.id)" >View</button>
            </td>
        </tr>
    </tbody>
</table>